<?xml version="1.0" encoding="utf-8"?>
<manifest package="droidowl.thoughts"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".ThoughtsApplication_"
        android:allowBackup="true"
        android:icon="@drawable/thought_cloud_jon_phill_02r"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ThoughtActivity_"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BaseActivity_"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".CreateThoughtActivity_">
        </activity>
        <activity android:name=".ThoughtRecordActivity_">
        </activity>
        <activity android:name=".ThoughtErrorsActivity_">
        </activity>
        <receiver android:name=".AlarmReceiver"
            android:process=":remote"/>
    </application>

</manifest>
